[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=-m'FooBah'
Exec=perl -m'FooBah' -I '/home/holger/cpan/Weed/lib' '' 'FooBah/ui.'
Terminal=false
Type=Application
Icon=/home/holger/.icons/OSX/scalable/apps/redhat-extras.png
